# Node (frontend)
frontend/node_modules/
frontend/.next/

# Go (backend)
api/bin/
api/tmp/
api/.DS_Store

# OS
*.log
.DS_Store
*.swp
*.swo
Thumbs.db

# Docker volumes
docker/pgdata/
*.pid

# VSCode / IDE
.vscode/
.idea/
*.iml

.env
